# Authentication (Clerk)
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_live_
CLERK_SECRET_KEY=sk_live_
NEXT_PUBLIC_CLERK_SIGN_IN_URL="/sign-in"
NEXT_PUBLIC_CLERK_SIGN_UP_URL="/sign-up"
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL="/"
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL="/"

# Database
DATABASE_URL="postgresql://""

# Payments (Stripe live keys)
STRIPE_SECRET_KEY=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_WEBHOOK_SECRET="whsec_..."
STRIPE_PROMO_EARLYBIRD_ID="promo_..."

# App
NEXT_PUBLIC_APP_URL="https://manewax.com"
ALLOWED_ORIGIN=
NEXT_PUBLIC_API_BASE_URL=
